<%- include("partials/header") -%>
<div class="center">
    <h1>Home</h1>
    <p><%=contentHome%></p>
</div>
<% posts.forEach(function(post){%>
    <div class="center">
        <h1><%=post.title%></h1>
        <p><%=post.content.substring(0,100)+" ...";%><a class="composeHide"href="/post/<%=post._id%>">Read More</a></p>
    </div>
    <%});%>
<%- include("partials/footer") -%>